
.about-us {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 10%;
}

.about-us #kb-mouse-background {
    width: 100%;
    height: auto;
    filter: grayscale(50%);
    z-index: 1;
    border-radius: 50px / 50px;
}

.ceo-picture {
    width: 30%;
    height: auto;
}

.about-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: white;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.text-box h2 {
    font-family: 'Tangerine', cursive;
    font-size: 48px;
}

.text-box img {
    width: 30%;
    height: auto;
    margin: 10px 0;
}


@media (max-width: 1080px) {

    .text-box{
        width: 400px;
    }

    .about-us {
        padding-bottom: 30%;
    }

    .text-box p {
        font-size: 14px;
    }

    .text-box h2 {
        font-size: 26px;
    }
}