*{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --primary-color: #F7F7F7;
    --button-font-size: 16px;
    --decorative-font: 'Tangerine', cursive;
  }

body {
    font-size: var(--button-font-size);
}

[class*="-ibg"] {
    position: relative;
}

[class*="-ibg"] > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*menu styles*/

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 250px;
    background-color: var(--primary-color);
}

.menu-item {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    text-decoration: none;
}

.menu-item a {
    color:rgb(44, 44, 44);
}

.menu-item a:hover {
    color:rgb(117, 41, 124);
    transition: border-bottom 0.3s ease-in-out;
}

.menu-item a:active {
    color:rgb(122, 122, 122);
}

.logo-link {
    text-decoration: none;
    color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--decorative-font);
    font-size: 50px;
}

.company-logo-name .logo {
    vertical-align: middle;
    margin-right: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

/*page content styles*/

.main-content-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background-images-container {
    position: relative;
    height: 1080px;
    overflow: hidden;
}

#main-background-image-first, #main-background-image-next {
    width: 100%;
    height: auto;
    border-radius: 50px / 50px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#main-background-image-frst {
    animation: slideshowFirst 30s infinite;
}

#main-background-image-next {
    animation: slideshowNext 30s infinite;
    opacity: 0;
}

.content-intro-header {
    font-size: 120px;
    font-family: var(--decorative-font);
    color: var(--primary-color);
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.content-intro-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    padding: 30px;
    background-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    animation: slideDownFadeIn 2s forwards;
    margin: 50px auto;
}

.content-intro-box h1 {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    margin-bottom: 40px;
}

.content-intro-box p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

/*demo media styles*/

.demo-media-container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 500px;
    background-color: rgb(231, 231, 231);
    border-radius: 50px / 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-media-window iframe {
    display: flex;
    align-items: center;
}

.demo-media-window h1{
    font-family: var(--decorative-font);
    color: rgb(44, 44, 44);
    text-align: center;
    padding-bottom: 20px;;
}

/*footer styles*/

.footer-main-container .footer-info-container {
    display: flex;
    height: auto;
}

.footer-main-container {
    justify-content: center;
}

.footer-info-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-info-container ul {
    list-style: none;   
}

.footer-info-container li {
    margin-bottom: 30px;
}

.footer-info-container p {
    font-size: 14px;
}

.footer-info-container h5 {
    font-size: 16px;
    border-bottom: 1px solid;
}

.footer-info-container div {
    border: none;
}

.footer-info-container a {
    color: black;
}

.card-container {
    flex: 1;
}

.fa {
    color: black;
    margin: 0 10px;
    font-size: 20px;
}

.fab {
    color: black;
}

.card {
    border: none;
}

.footer-card {
    border: none;
}

.social-icon {
    width: 40px;
    height: auto;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#email-input {
    width: 250px;
}

@keyframes slideDownFadeIn {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 65%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slideshowFirst {
    0%   {background-image: url("../images/mainbackground1.png");}
    50%  {background-image: url("../images/mainbackground2.png");}
    100% {background-image: url("../images/mainbackground1.png");}
}

@keyframes slideshowNext {
    0%   {background-image: url("../images/mainbackground2.png");}
    50%  {background-image: url("../images/mainbackground3.png");}
    100% {background-image: url("../images/mainbackground2.png");}
}

@media (max-width: 1080px) {

    .menu-container {
        padding: 15px 20px;
    }
    
    .menu-item {
        font-size: 10px;
        padding: 0 5px;
    }

    .company-logo-name .logo {
        width: 15px;
        height: 15px;
        margin-right: 7px;
    }

    .logo {
        width: 20px;
        height: 20px;
    }

    .logo-link {
        font-size: 24px;
    }

    .company-logo-name{
        font-family: 'Tangerine', cursive;
        font-size: 15px;
    }

    .content-intro-box {
        width: 500px;
        padding: 20px;
    }

    .content-intro-box h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .content-intro-box p {
        font-size: 12px;
    }

    .content-intro-header {
        font-size: 60px;
    }

    .card-container {
        flex-basis: 100%;
    }

    .social-icon {
        width: 30px;
        height: auto;
    }

    #email-input {
        width: 120px;
    }
}
